body{
    background: rgb(0, 0, 0);
    color: white;
    font: 15pt Arial;
}

header{
    text-align: center;
}

section{
    background: rgb(51, 51, 51);
    text-align: center;
    margin: auto;
    padding: 50px;
    height: 350px;
    width: 390px;
    border-radius: 20px;
}

button{
    width: 50px;
    height: 20px;
}

footer{
    margin-top: 20px;
    text-align: center;
}